<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
  <persistence-unit name="slides">
    <jta-data-source>slides</jta-data-source>
    <non-jta-data-source>slidesNonJta</non-jta-data-source>
    <class>com.github.rmannibucau.myslides.service.domain.Slide</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)"/>
    </properties>
  </persistence-unit>
</persistence>
